body {
	height: 2000px;
}

#page_1
{
	border:solid 1px #333333;
	z-index:2;
	background-color:#ebebeb;
	width:525px;
	height:750px;
	position:relative;
	margin: auto;
	top: 200px;
	left: 0px;
}

#page_2
{
	border:solid 1px #333333;
	z-index:-1;
	background-color:#cccccc;
	width:525px;
	height:750px;
	color:#ffffff;
	position:relative;
	margin: auto;
	top: -530px;
	left: 23px;
}

#page_3
{
	border:solid 1px #333333;
	z-index:-4;
	background-color:#acacac;
	width:525px;
	height:750px;
	color:#ffffff; 
	position:relative;
	margin: auto;
	top: -1260px;
	left: 46px;
}